/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: 'Georgia', serif;
  color: #2c2c2c;
  background-color: #fcfaf0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header Styles */
.header {
  margin-top: 50px;
}

.search-input {
  padding: 15px;
  margin: 25px 10px;
  width: 100%;
  font-size: 16px;
  border-radius: 100px;
  border: 1px solid #ccc;
}

/* Genre and Filter Bar Styles */
.filter-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  
}

.filter-slot {
  padding: 0 25px;
  margin: 10px;
  border-radius: 50px;
   
}

.filter-dropdown {
  padding: 15px;
  margin: 20px;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
   width: 100%;
    font-size: 16px;
  border-radius: 100px;
  border: 1px solid #ccc;
}

/* Movies Grid Styles */
.movies-grid{
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

/* Movie Card Styles */
.movie-card {
  background-color: #272727;
  border-radius: 8px;
  border: 5px solid black transparent;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  /*box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .5);*/
}

.movie-card:hover {
  border: 5px solid black;
}

.movie-card img {
  width: 250px;
  height: auto;
  display: block;
  object-fit: contain;
  object-position: center;
}

.movie-card-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.movie-card-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.movie-card-rating {
  font-size: 0.9rem;
  font-weight: bold;
  background:#141414;
  padding: 3px 10px;
  margin: 0 auto;
  width: 50px;
  border-radius: 50px;
}

.movie-card-genre {
  font-size: 0.9rem;
  margin-right: 10px;
}

/* Watchlist Button Styles */
.watchlist-btn {
  border: none;
  background: #2196F3;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}


/* Footer Styles */
.footer {
  background-color: #d19c7b;
  text-align: center;
  position:fixed;
  width:100%;
  height:50px;
  line-height: 50px;
  left:0;
  bottom:0;
  right:0;
}

.footer-text {
  color: #fcfaf0;
  font-size: 1.0rem;
  vertical-align: center;
}

.rating-good {
  color: rgb(148, 255, 105);
}

.rating-ok {
  color: rgb(255, 209, 123);
}

.rating-bad {
  color: rgb(255, 123, 123);
}

.title {
  text-align: center;
  margin: 25px 0;
}

.logo {
  width: 100%;
  height:100%;
  max-width: 920px;
  margin: 0 auto;
  display: block;
}

.app-subtitle {
  text-align: center;
  margin: 25px auto;
  font-weight: 300;
}


ul {
  list-style-type: none;
  margin: 0;  
  display: flex;
  justify-content: center;
}

ul li {
  padding: 10px;
}



nav a:hover {
  background-color: #E7F2F1;
  color: black;
}

.switch {
  margin: 20px auto;
  position: relative;
  display: inline-block;
  width: 150px; /* Width large enough to fit the label text */
  height: 24px; /* Adjust height as needed */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #141414;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.slider-label {
  color: #fff; 
  font-size: 12px; 
  width: 100%; 
  line-height: 24px; 
  transition: opacity 0.4s ease; 
}

input:checked + .slider:before {
  transform: translateX(125px); /* Move the circle to the other side */
}

input:checked + .slider {
  background-color: #FFA100;
}

main {
  height: 125vh;
  width: 100%;
  padding-left: 35px;
  display: flex;
}

.card {
  width: 15rem;
  height: 22rem;
  perspective: 700px;
  border-radius: 10px;
  display: inline-block;
  overflow: hidden;
  color:#2c2c2c;
  padding: 2rem 0;
  margin: 0 20px;
 
  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    border-radius:10px;;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1.0;
    transition: opacity .2s ease-out;
  }

  h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset .3s .3s ease-out;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  p, a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
  }
  
  p {
    inset: auto auto 80px 30px;
  }
  
  a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
  }
  
  &:hover h2 {
    inset: auto auto 220px 30px;
    transition: inset .3s ease-out;
  }
  
  &:hover p, &:hover a {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
  }
  
  &:hover img {
    transition: opacity .3s ease-in;
    opacity: 0.1;
  }



  .react-multi-carousel-list {
    padding: 0rem 0 2rem 0;
    }


  .react-multi-carousel-list {
    position: unset !important;
  }}

  .form-input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-options {
  padding-left: 0px;
  padding-right: 0;
  display: flex;
  width: 100%;
}